
@{
    ViewBag.Title = "insertVaksin";
    Layout = "~/Views/_LayoutPage1.cshtml";
}
<section id="home" class="w3l-banner py-5">
    <div class="">

    </div>
    <div class="banner-content">
        <div class="container pt-5 pb-md-4">
            <div class="row align-items-right">
                <div class="col-md-6 pt-md-0 pt-4">
                    <form method="post" action="@Url.Action("insertVaksin")">
                        <div class="one-frm">
                            Nomor Register Vaksin
                            <input type="text" name="no_register" placeholder="No Register" class="form-control" required="" value="" />
                            @ViewBag.error
                        </div>
                        <div class="one-frm">
                            Tanggal Dibuat:
                            <input type="datetime-local" class="form-control" name="tanggal_dibuat" required="">
                        </div>
                        <div class="one-frm">
                            <input type="submit" value="Insert" class="btn btn-info" />
                            @Html.ActionLink("Kembali", "Vaksin", "User", new { @class = "btn btn-outline-info" })
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</section>
