@model IEnumerable<ProyekPasti_20.ServiceRegistrasiVaksin.VaksinData>

@{
    ViewBag.Title = "addVaksinSampai";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<section id="home" class="w3l-banner py-5">
    <div class="">

    </div>
    <div class="banner-content">
        <div class="container pt-5 pb-md-4">
            <div class="row align-items-right">
                <div class="col-md-6 pt-md-0 pt-4">
                    <h4 class="mb-lg-15 mb-3 title"><span class="typed-text"></span><span>Vaksin yang sudah sampai di Rumah Sakit</span></h4>
                    <div class="mt-md-8 mt-4 mb-lg-0 mb-4">
                        <table class="table" border="1">
                            <tr>

                                <th>
                                    No Register
                                </th>
                                <th>
                                    Tanggal DiProduksi
                                </th>
                                @if (User.IsInRole("RumahSakit"))
                                {
                                    <th>
                                        <p>Action</p>
                                    </th>
                                }
                            </tr>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.no_register)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.tanggal_dibuat)
                                    </td>
                                    @if (User.IsInRole("RumahSakit"))
                                    {
                                        <td>
                                            @Html.ActionLink("Digunakan", "insertLaporan", item, new { @class = "btn btn-info" })

                                        </td>
                                    }
                                </tr>
                            }

                        </table>

                    </div>

                </div>


            </div>
        </div>
    </div>
</section>



